.inputContainer {
  padding-top: 10px;
}
.inputBar {
  background-color: #4b5357 !important;
  border-radius: 50px !important;
  padding-left: 60px !important;
  width: 95% !important;
}
.iconSearch {
  position: relative;
  top: 8px;
  left: 45px;
  font-size: 25px;
}

.inputBar,
.iconSearch {
  color: white;
}
